# -*- mode: bash; coding:utf-8; tab-width: 2; indent-tabs-mode: nil; -*-

set -e

# custom stuff like yours


# automagic
log_prefix "$(expand_path "$1")"
use_auto_ruby
use_auto_python

watch_file "$HOME/.pyenv/versions"
watch_file "$HOME/.rubies"

watch_file ".ruby-version"
watch_file ".python-venv"
watch_file ".python-version"
